/* Browser resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* set up Boxsizing: BroderBox */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/********************************************
	 Global Page Styles 
********************************************/

html {
	height: 100%;
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


body {
	min-height: 100%;
	font-size: 16px;
	font-family: 'Lato', arial, helvetica, sans-serif;
	/* Part of Advanced Checkbox Hack for navigation */
		-webkit-animation: bugfix infinite 1s; 
		@-webkit-keyframes bugfix {
		    from {padding: 0;} 
		    to {padding: 0;} 
		}
}

section.content, header  {
	padding-bottom: 1.5em;
	line-height: 1.25
}

.content, .headerContainer {
	padding-left:3%;
	padding-right: 3%;
	max-width: 60em; /* 960px */
	margin: 0 auto;

}





img, picture {
	max-width:100%;
}



/********************************************
	 Global Header Styles 
********************************************/

h1 {
	font-weight: 300;
	font-size: 2em;
	padding-bottom: .25em
}

h2 {
	font-weight: 400;
	font-size: 1.25em;
}

.content h2 {
	font-weight: 700;
	font-size: 1.5em;
	padding-top: 1em;
	color: #2e62b8;
}

h3 {
	font-weight: 700;
	font-size: 1.05em;
	color: #bd5102;

}



/* ******************************************
	Navigation  Section General Styles 
****************************************** */

nav .logo {
	float:left;
	margin-left: 3%;
	color: #555;
}

nav {
	padding: .65em 0 0 0;
}

nav ul {
		    list-style: none;
		    padding: 0;
		    border-bottom: 1px solid #eee;
		    margin: .65em 0 0 0;
		}

.navLinks li {
		   border-top: 1px solid #eee;
		}
	
.navLinks a {
		   display: block;
		   font-size: 1.063em;
		   color: #333;
		   text-decoration: none;
		   padding: .975em 1.3em; 
		}
	
.navLinks a:hover {
		   background: #f8f8f8;
		}


nav .navLinks {
  	height: 0;
  	overflow: hidden;
}

nav input[type=checkbox] {
		    position: absolute;
		    top: -999em;
		    left: -999em;
		}
	
nav label { 
		    display: block;
		    margin-bottom: .35em;
		    background: url("../img/icon-menu.png") no-repeat right center;
		    text-indent: -999em;
		    cursor: pointer;
		    -webkit-user-select: none;  /* Chrome all / Safari all */
		    -moz-user-select: none;     /* Firefox all */
		    -ms-user-select: none;      /* IE 10+ */
		    user-select: none;
		}
	
nav input[type=checkbox]:checked ~ .navLinks  {
		    height: auto;
		    overflow: hidden;  
		}


/* ******************************************
	Header Section General Styles 
****************************************** */

header  {
	width: 100%;
	background-color: #002157;
	color: #fff;
	padding: .75em 3%;
	text-align: center;
} 


/* ******************************************
	Portfolio Section General Styles
****************************************** */

section.portfolio article {
	padding:.5em;
	margin-top: 1em;
	/* -moz-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .05 );
	-webkit-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .05 );
	box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .05 ); */
	border: solid 1px #b0dbff;
}



/* ******************************************
	About Me Styles 
****************************************** */


section.aboutMe h3 {
	border-bottom: solid 1px #e4963b;
	padding-top: .75em
}
		


/* ******************************************
	Footer General Styles 
****************************************** */

section.contactMe {
	background-color: #26282c;
	color: #fff;
}

section.contactMe .contactText.content h2 {
	font-weight: 400;
	color: #e4bd38;
}

section.contactMe  p {
	padding-top: 1em;
	padding-bottom: 1em;
}


section.contactMe  a {
	color: #ffa35f;
}

section.contactMe  a:hover {
	color: #e4bd38;
}


/* ******************************************
	Form General Styles
****************************************** */

  form {
  	padding: 0 1%;
  }

  fieldset {
  	border: none;
  }

  label {
  	display: block;
  	margin-top: .25em;
  	font-size: 1.25em;
  	color: #fff;
  	font-weight: 300;	
  }

  input, textarea {
  	display: block;
  	width: 100%;
  	height: 2em;
  	background-color: #efefef;;
  	font-size: 1.5em;
  	font-weight: 400;
  	color: #3a3a3a;
  	padding: .5em;
  	border: none;
  	-moz-border-radius:5px;	
  	-webkit-border-radius:5px;	
  	border-radius:5px;
  	font-size: 1.25em;
  	margin-top: .25em;	
  	margin-bottom:.75em;

}
 textarea {
 	height: 6em;
 }


 input:focus, textarea:focus {
 	border: 1px solid #97d6eb;
 }

 /**
	 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
	 * 2. Improve readability and alignment in all browsers.
	 */

	textarea {
	    padding-bottom: 10%;
	    overflow: auto; /* 1 */
	    vertical-align: top; /* 2 */
	    }

.send {
	    display: inline-block;
	    max-width: 20em;
	    font-size: 1.25em;
	    line-height: .005;
	    font-weight: 700;
	    color: #fff;
	    text-decoration: none;
	    background: #0074b0;
	    margin: .65em .26em;
	    padding: 1.25em; 
	    border: 0;
	    border-radius: 1em;
	    text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
}
    
.send:hover {
	    background: #ffb54c;
}
    
.send:active,
.send:focus {
	    background: #555;
 }


/* ******************************************
	Media Queries for screen wider than 28.75em (460px)
****************************************** */

@media screen and (min-width: 28.75em) {


nav div.navContainer label {
 	display: none;
}
		
nav div.navContainer {
	padding: 0;
}

nav div.navLinks {
	height: auto;
}
		
nav div.navLinks ul {
	border: 0;
	margin: 0;
	

}

nav div.navLinks li {
    display: inline;
    border: 0;
    float: right;
}

nav div.navLinks a {
     display: inline-block;
     padding-left:.75em;
     padding-right: .75em;

}

nav .logo {
	margin-top: 1em;
}
		
			
